body {
    background: white;
}

.headerContainer {
    display: flex;
    justify-content: space-around;

}

.bigInfoItems {
    display: flex;
    justify-content: space-around;
}

.bigInfoItem {
    text-align: center;   
}

.top5Grid {
    display: flex;
    justify-content: center;
}